/* BOOTSTRAP START */
.NavLogo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: rgb(53, 48, 0) !important;
}

@media (prefers-reduced-motion: reduce) {

    .navbar-brand,
    .btn,
    .nav-link {
        transition: 0.6s;
    }
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #c79c00;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(255, 250, 90, 0.077);
}

.navbar-brand {
    color: #F5BE00;
}

.navbar-brand:hover {
    color: #c79c00
}

.nav-link {}

@media (prefers-reduced-motion: reduce) {
    .nav-link {
        color: #c79c00;
    }
}

.nav-link:focus,
.nav-link:hover {
    color: #F5BE00;
}

@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: 0.6s;
    }
}

/* BOOTSTRAP END */

/* Reset di base */
body,
h1,
h2,
p,
div,
section,
article {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile generale */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
}

/* Stile per HugeHeader */
.HugeHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-color: #ffecd1;
    padding: 20px;
    border-bottom: 5px solid #F5BE00;
}

/* Stile del titolo */
.HugeHeader h1 {
    display: flex;
    font-size: 64px;
    font-family: "Borel", cursive;
    color: #F5BE00;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-weight: bold;
}

/* Stile della sezione ricette */
.recipes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* Stile degli articoli */
.recipes article {
    flex: 1 1 300px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    height: 400px;
}

/* Effetto hover sugli articoli */
.recipes article:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Stile delle immagini */
.recipes img {
    width: 100%;
    max-width: 180px;
    height: 180px;
    border-radius: 20px;
    object-fit: cover;
}

/* Stile dei titoli delle ricette */
.recipes h2 {
    font-size: 24px;
    color: #ff7b009c;
    text-align: center;
    margin: 10px 0;
}

/* Stile del testo delle ricette */
.recipes p {
    font-size: 16px;
    color: #7f8c8d;
    line-height: 1.6;
    text-align: center;
    margin: 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

/* Stile dei Link */
.recipes a {
    display: flex;
    text-decoration: none;
    color: inherit;
    display: block;
}